@charset "utf-8";
/* CSS Document */

/*baoming开始*/
.baoming{height:136px; margin-top:-1px;}
.yibao{ height:136px; padding-top:20px;}
.yibao li{float:left;width:238px;  border-right:3px #ff746b solid;}
.yibao .text{ font-size:36px; color:#ff746b; text-align:center;}
/*baoming结束*/

.bianhao{ width:510px; height:83px; background:#73c8cb; border-radius:15px;margin:40px auto;}
.inputdiv{width:330px; height:75px; background:#FFF;  border-top-left-radius:15px;border-bottom-left-radius:15px; outline:none; margin:4px; border:0; font-size:33px; text-indent:1.2em;}
.bianhao .text{font-size:33px; color:#fff; width:150px;height:75px; background:#73c8cb; border:0;}
.toupiao{ width:175px; height:78px; background:#ff756b; font-size:33px; color:#fff; text-align:center;line-height:78px; margin:0px 15px 45px 40px; float:left;}
.to{ width:175px; height:78px; background:#f9493c; font-size:33px; color:#fff; text-align:center;line-height:78px; margin:0px 0px 45px 20px;float:left; }
/*列表开始*/
.shenhong{color:#ff4b3a;}
.qianhong{color:#fd6560;}
 .wd115{width:115px;text-align:center;}
 .wd190{width:190px;text-align:center;}
 .wd170{width:170px;text-align:center;}
.tt .wd190{text-align:center ;}
.tt .wd170{text-align:center ;}
/*.tleft{text-align:left;}*/
/*.tcenter{text-align:center;}*/
.liebiao table{margin:0 auto;font-size:30px;width:664px;}
.liebiao td{line-height:50px;}
.liebiao tr{border-bottom:2px solid #f9493c;display:block;}

/*列表结束*/
/*分页开始*/
.fenye{margin:20px auto;width:670px;}
.fenye .weixuanzhong{display:inline-block;width:56px;height:66px;line-height:66px;text-align:center;font-size:28px;color:#f9493c;border-top:1px solid #ff7670;border-bottom:3px solid #ff7670;border-left:2px solid #ff7670;border-right:2px solid #ff7670; margin-right:10px;}
.fenye .xuanzhong{background:#f9493c;display:inline-block;width:59px;height:69px;line-height:66px;text-align:center;font-size:28px;color:#fff;margin-right:10px;}