@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
.t_c{ text-align:center;}
.c_b{ clear:both;}
.heidi{ background-color:rgba(0,0,0,0.5);}
#fullbg { position:fixed; top:0; left:0; bottom:0; right:0; display:none; z-index:3; background-color:rgba(0,0,0,0.9); opacity:0.9; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9;}
#baoxiang,#paihang,#guize{ position:absolute; top:0; left:0; z-index:4; width:696px; padding:70px 27px; color:#FFF; display:none; font-family:"微软雅黑";}
.wujilu{margin-top:200px; text-align:center; font-size:42px;}
.title{line-height:100px; border-bottom:4px solid #FFF; position:relative; font-size:45px; padding-left:20px; margin-bottom:30px;}
.title img{position:absolute; right:32px; top:31px;}
.defen{text-align:center; line-height:66px; font-size:36px; border-bottom:1px solid #FFF; margin:0 32px;}
.defen span{color:#E89614;}
#guize div{ font-size:35px;}
#baoxiang .tanzhongdiv{padding:0 32px;}
#paihang .tanzhongdiv{padding:0 41px;}
#baoxiang .fendiv{border:1px solid #FFF; border-radius:10px; margin-top:30px;}
#baoxiang .fendiv .tudiv{width:238px; height:160px; overflow:hidden; margin:42px 34px; float:left;}
#baoxiang .fendiv .tudiv img{width:100%;}
#baoxiang .fendiv .youdiv{overflow:hidden; font-size:31px;}
#baoxiang .fendiv .youdiv .jiangji{height:53px; line-height:53px; margin-top:67px;}
#baoxiang .fendiv .youdiv .jiangname{height:53px; line-height:53px;}
#pagediv{width:100%; height:100%; background:#E02A29 url(../images/datu.jpg) 0 0 no-repeat; background-size:100% auto;display:none;}
#top{height:766px; position:relative;}
#alldiv{ position:relative; padding-top:228px; font-size:30px; line-height:54px; color:#FFF; margin-bottom:58px;}
#yinyue{ position:absolute; z-index:2; top:63px; left:63px; width:96px; height:96px; border:4px solid #FCF6DE; border-radius:50%; background:rgba(0,0,0,0.7) url(../images/yinyue.png) center center no-repeat; animation: bgRotate 6s linear infinite; -webkit-animation: bgRotate 6s linear infinite; -moz-animation: bgRotate 6s linear infinite; -o-animation: bgRotate 6s linear infinite;}
@keyframes bgRotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@-webkit-keyframes bgRotate{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}@-moz-keyframes bgRotate{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}@-o-keyframes bgRotate{from{-o-transform:rotate(0deg)}to{-o-transform:rotate(360deg)}}
.ting{animation-play-state: paused !important; -webkit-animation-play-state: paused !important; animation:inherit !important; -webkit-animation:inherit !important; -moz-animation:inherit !important; -o-animation:inherit !important;}
.shangxia{width: 100%; height: 237px; z-index:1; background-repeat: no-repeat; background-position:center center; background-size: auto 100%; position: absolute; top:-237px; animation: updown 1s linear 1; animation-fill-mode: forwards; -webkit-animation: updown 1s linear 1; -webkit-animation-fill-mode: forwards; -moz-animation: updown 1s linear 1; -moz-animation-fill-mode: forwards; -o-animation: updown 1s linear 1; -o-animation-fill-mode: forwards;}
@keyframes updown{from{top:-285px;}to{top:135px}}@-webkit-keyframes updown{from{top:-285px;}to{top:135px}}@-moz-keyframes updown{from{top:-285px;}to{top:135px}}@-o-keyframes updown{from{top:-285px;}to{top:135px}}
#guizetu{ position:absolute; top:0px; right:0px; z-index:2;}
#paihangtu{ position:absolute; top:0px; right:30px;}
#baoxiangtu{ position:absolute; top:114px; right:30px;}
#kaishi{ position:absolute; top:128px; left:50%; margin-left:-163px;}
.paiming{ text-align:center; font-size:32px; border-collapse:collapse;}
.paiming tr{ height:140px; border-bottom:1px solid #FFF;}
.paiming td img{width:96px; height:96px; border-radius:100%;}
.paiming tr.toutable{ height:inherit; border:none;}
.banquan{position:static; bottom:0; left:0; width:100%; text-align:center; line-height:54px; font-size:28px; color:#FFF; background:rgba(0,0,0,0.5);}
.tishidiv{position:absolute; top:50%; left:50%; margin-left:-186px; margin-top:-269px; width:372px; z-index:5; text-align:center; display:none;}
#tixing{font-size:34px; color:#FFF; line-height:50px;}