<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=640, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="/static/pccollage/css/reset.css"/>
    <link rel="stylesheet" href="/static/pccollage/css/index.css"/>
</head>
<body>
<div class="FF_lljcWrap">
    <div class="FF_lljcTitle">
        <p class="FF_sTitle">遇到流量劫持该怎么办？</p>
        <div class="FF_fbTime">
            <span class="sjd">商家岛</span>
            <span class="FF_sjdTime">2018-6-29</span>
        </div>
    </div>
    <p class="FF_jcJieshao">如果你用微信浏览某个网页时（比如微信公众号文章或者外部网页），在打开的页面上发现非当前页面提供的广告弹窗或浮层，这很可能表示你的流量被劫持了。</p>
    <img class="FF_jcImg" src="/static/pccollage/img/lljc.jpg">
    <div class="FF_jcBtm">
        <p class="FF_jcBtmTitle">遇到流量劫持该怎么办？</p>
        <p class="FF_jcBtmJs">流量被劫持后，其中可能包含恶意内容的可能性，建议你不要点击页面上的浮层和弹窗。</p>
        <p class="FF_jcBtmJs">如果反复遇到这类问题，可以与你的手机运营商联系寻求解决办法：</p>
        <p class="FF_redWord FF_phone">移动用户请咨询10086</p>
        <p class="FF_redWord FF_phone">联通用户请咨询10010</p>
        <p class="FF_redWord FF_phone">电信用户请咨询10000</p>
    </div>
</div>
</body>
</html>