@charset "utf-8";
/* CSS Document */


.toptu{ width:750px; position:relative; margin-bottom:110px;}
.btnp{width:680px; height:90px; line-height:90px; font-size:33px; color:#FFF; text-align:center; margin:13px auto 0 auto; background-color:rgba(255,255,255,0.2); border-radius:9px;  position:absolute; bottom:0px; left:35px; letter-spacing:0.1em;}
.choujiang{width:680px;height:188px; border-radius:9px; background:#f5696a; margin:20px 35px;}
.chouzhong{width:480px; margin-left:150px;}
.choujiangaa{ padding:38px 38px 33px;line-height:50px;}
.choujiangaa .text{color:#fff; font-size:22px;  }
.choujiangaa .text2{color:#fff; font-size:30px;}
.kongbx{ text-align:center;}
.kongbx p{font-size:30px; line-height:50px; color:#FFF;}