@charset "utf-8";
/* CSS Document */
.clear{clear: both;}
.toptu{ height:422px; background:url(../../images/tequantoptu.jpg) center 0 no-repeat; background-size:auto 100%; min-width:1050px; text-align:center; color:#FFF; float:left; width:100%;}
.toptu .title{ font-size:32px; margin-top:52px;}
.toptu .shuoming{ font-size:16px; margin-top:10px;}
.xiazhong{ background-color:#FFF; margin-top:56px;border:1px solid #d5d5d5;}
.fenlan{ float:left; width:349px; color:#8e9488;}
.frborder{ border:1px solid #d5d5d5; border-top:none; border-bottom:none;}
.fenlan .zhongtop{ border-bottom:1px solid #d5d5d5; padding:9px 0;}
.fenlan .zhongtop h1,.fenlan .zhongtop h4{ font-weight:300; text-align:center;}
.fenlan .zhongtop h1{ margin-top:24px; margin-bottom:18px; font-size:34px;}
.fenlan .zhongtop h4{ font-size:20px;}
.fenlan .zhongtop ul{ padding:67px 20px 0 55px;}
.fenlan .zhongtop ul li{ margin-bottom:36px; font-size:16px; height:20px;}
.fenlan .zhongtop ul li .fa{ margin-right:15px; font-size:18px; font-weight:300;}
.fenlan .zhongtop ul li.gouxuan{ color:#676072;}
.fenlan .zhongtop ul li.gouxuan .fa{ color:#00cb68;}
.fenlan .zhongtop .btnqu{ text-align:center; padding:17px 0; font-size:18px; color:#33c7ff; border-top:1px solid #d5d5d5;}
.fenlan .zhongtop .btnqu p{ height:40px; line-height:40px; }
.fenlan .zhongtop .btnqu a{ display:block; width:140px; height:40px; line-height:40px; margin:0 auto; background-color:#ed8200; color:#FFF; }
.dibeijing{ height:313px; background:url(../../images/tequanditu.jpg) center 0 no-repeat; background-size:100% auto; margin-top:-84px; position:relative; z-index:-1;}
.didiv{ margin-top:0;}
.tangoumai{ position:fixed; width:818px; min-height:600px; background-color:#eee9e9; border-radius:5px; left:50%; top:50%; margin-left:-409px; margin-top:-317px; overflow:hidden; z-index:1001; display:none;}
.tangoumai .tan-content{padding: 30px;}
.tangoumai .tan-content .title-img img{width: 358px;}
.tangoumai .tan-content .goods{width: 100%;background: #fff;padding: 30px 0;margin-top: 30px;border-radius: 4px; overflow: hidden;}
.tangoumai .tan-content .goods .goods-img{width: 40px;height: 40px;float: left;border-radius: 40px;margin-left: 20px;}
.tangoumai .tan-content .goods .goods-img img{width: 100%;height: 100%;border-radius: 50%;}
.tangoumai .tan-content .goods .goods-name{float:left;margin-left: 20px;width: 658px;line-height: 38px;}
.tangoumai .tan-content .goods .goods-name span{display: block;font-size: 16px;color:#000;}
.tangoumai .tan-content .pay{margin-top: 30px;background: #fff;padding: 30px 20px 45px 20px;position: relative;}
.tangoumai .tan-content .pay .kf{position: absolute;top:15px;right: 25px;width: 105px;height: 105px;}
.tangoumai .tan-content .pay .kf img{width: 105px;height: 105px;}
.tangoumai .tan-content .pay .kf p{font-size: 12px;padding-left: 6px;color:#333;}
.tangoumai .tan-content .pay .pay-title{font-size: 18px;color: 18px;}
.tangoumai .tan-content .pay .pay-title span{margin-left: 10px;font-size: 12px;color: #ccc;}
.tangoumai .tan-content .pay .pay-way div{float:left;margin-top: 20px;height:35px;width:105px;border: 1px solid #ccc;text-align: center;padding-top: 10px;border-radius: 4px;}
.tangoumai .tan-content .pay .pay-way .pay-zfb{margin-right: 30px;}
.tangoumai .tan-content .paper{text-align: right;font-size: 16px;margin-top: 30px;}
.tangoumai .tan-content .paper span{font-size: 24px;color: red;}
.tangoumai .tan-content .rise-vip{float: right;line-height: 35px;border-radius: 4px;display: block;margin-top: 15px;width: 160px;height: 35px;color: #fff;background: red;text-align: center;}
.tangoumai .tan-content .pay .pay-way .selected{border: 1px solid #37b7a0;}


.tangoumai .tan-content .order{color: #000;margin-top: 40px;font-size: 18px;}
.tangoumai .close{ position:absolute; top:10px; right:10px; cursor:pointer;}
.tangoumai .zuodiv{ position:absolute; left:0; top:0; bottom:0; width:357px; background:url(../../images/think.jpg) center center no-repeat; background-size:100% auto;}
.tangoumai .youdiv{ width:324px; padding:16px; position:relative; text-align:center;}
.tangoumai .youdiv h3{ font-size:24px; color:#FF8833; margin:32px 0 27px; font-family:"微软雅黑"; font-weight:300;}
.tangoumai .youdiv .shuoming,.tangoumai .youdiv .dianhua,.tangoumai .youdiv .saoma{ font-size:18px; color:#707070; line-height:30px;}
.tangoumai .youdiv .dianhua{color:#393939; border-bottom:1px solid #FDBD51; padding-bottom:14px;}
.tangoumai .youdiv .saoma{ margin:22px 0;}
.tangoumai .youdiv .erweima{ width:137px; height:137px; padding:9px; border:2px solid #EEEEEE;}

.tishi{font-size:20px; line-height:20px; color:#333;}
.jihuomainput{width:204px; height:40px; padding:0 10px; font-size:20px;border:1px solid #a3a3a3;margin:36px auto 0;outline:none;text-align:center;}
.shengjibtn{width:224px; height:40px; line-height:40px; margin:24px auto 14px; background-color:#ed8200; text-align:center; color:#FFF; font-size:18px; cursor:pointer;}
.bangzhu{font-size:16px; color:#a2a2a2;margin-bottom:90px;}